<header id="header" class="alt">
  <h1 id="logo"><a href="{{ .Site.BaseURL | absURL }}">{{ .Site.Title}} <span>{{ .Site.Params.Slogan }}</span></a></h1>
  <nav id="nav">
    {{ partial "nav/sections" . }}
  </nav>
</header>
<div id="belowMenu"></div>
<!-- Banner -->
<section id="banner" class="sec-{{ if .IsHome }}home{{ else }}{{ .Section }}{{ end }}">

  <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->
  <div class="inner{{ if .IsHome }} home{{ end }}">
    {{ if .IsHome }}
      <div class="logo"><img src="{{ "images/promobras.svg" | absURL }}"/></div>
      <header>
        <h2>{{ if .Params.tagline }}{{ .Params.tagline }}{{else if .Params.slogan }}{{ .Params.slogan }}{{ else }}{{ .Title }}{{ end }}</h2>
      </header>
      <p>
      <div class="contact"><i class="fa fa-phone"></i><span><a href="tel:+41213126237" class="phone">021 312 62 37</a><a href="/contact" class="desktop">021 312 62 37</a></span></div>
      </p>
    {{ else -}}
      {{ $sect := (.Site.GetPage "section" .Section) }}
      <header>
        <h2>{{ if $sect.Params.tagline }}{{ $sect.Params.tagline }}{{else if $sect.Params.slogan }}{{ $sect.Params.slogan }}{{ else }}{{ $sect.Title }}{{ end }}</h2>
      </header>
    {{ end -}}
  </div>

</section>
