{{ $root := .root }}
{{ with .tour }}
<article class="tour">
  <div class="tour-header">
    {{ with .duration -}}<div class="tour-duration">{{ . }}</div>{{ end -}}
    {{ with .code -}}<div class="tour-code">({{ . | upper }})</div>{{ end -}}
    <div class="tour-title"><h3>{{ .title }}</h3></div>
  </div>
  <div class="summary">{{ .summary }}</div>
  <div class="description">
  {{ with .description }}{{ . | markdownify }}{{ end }}
  </div>
  {{ $lightbox := (.title | md5) }}
  {{ with .images }}
    <div class="tour-gallery-container">
    {{ range . }}
      {{ partial "site/cl_img.html" (dict "root" $root "class" "tour-gallery-item" "lightbox" $lightbox "src" .image "ar" 1.33333)}}
    {{ end }}
    </div>
  {{ end }}
  <div class="questions">Des questions? <a href="/contact">Contactez nous</a> !</div>
  {{ with .pdf_doc -}}
    <div class="pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href="{{ . }}">Document PDF détaillé</a></div>
  {{ end -}}

  {{ with .gmaps }}
  <div class="map-container">
  <div class="map-box">
  <iframe class="map" src="https://www.google.com/maps/d/embed?mid={{.}}" width="100%" height="100%"></iframe>
  </div>
  </div>
  {{ end }}
</article>
{{ end }}
