<p>
<span class="contact">
<i class="fa fa-address-card-o fa-fw" aria-hidden="true"></i>Promobras Sàrl<br/>
<i class="fa fa-fw" aria-hidden="true"></i>Case Postale 7134<br/>
<i class="fa fa-fw" aria-hidden="true"></i>1002 Lausanne<br/>
</span>
</p>

<p>
<span class="contact">
<i class="fa fa-phone fa-fw" aria-hidden="true"></i>021 312 62 37
</span>
</p>

<p>
<span class="contact">
<i class="fa fa-fax fa-fw" aria-hidden="true"></i>021 312 62 20
</span>
</p>

<p>
<span class="contact">
<i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>contact@promobras.ch
</span>
</p>
