<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
    {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

    <title>{{ block "title" . }}{{ if (not .IsHome) }}{{- with .Title }}{{ . }} - {{ end }}{{ end }}{{ .Site.Title -}} - {{ .Site.Params.tagline -}}{{ end }}</title>

    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" title="{{ .Site.Title }}" type="application/rss+xml" rel="alternate">
    {{ end }}

    {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}
    {{ if .IsHome }}<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{{ end }}

  </head>
  <body>
    <div id="page-wrapper">
      {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

      <main class="site-main" role="main">
        {{ block "main" . }}{{ end }}
      </main>

      {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}
    </div>

      {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
  </body>
</html>
