{{ define "main" }}
{{ $showsummaries := not .Params.hidesummaries }}
<article id="main">
  <section class="wrapper style1 container">
    <div class="row 150%">
      <div class="3u 12u(narrower)">
        <div class="sidebar">
          <nav class="sidebar-nav">
            {{ block "navigation" . }}{{ partial "nav/navigation.html" . }}{{ end }}
          </nav>
        </div>
      </div>
      <div class="9u 12u(narrower) important(narrower)">
        <div class="content">
          <section>
            <header>
              <h2>{{ .Title }}</h2>
            </header>
            {{ .Content }}
          </section>
        </div>
        {{ if (or ((len .Sections) "gt" 0) ((len .Pages) "gt" 0)) }}
        <div class="content section-nav">
            {{ range .Sections }}
              <article>
                <h4><a href="{{ .Permalink }}">{{ if .LinkTitle }}{{ .LinkTitle }}{{ else }}{{ .Title }}{{ end }}</a></h4>
                {{ if $showsummaries -}}
                <p>
                {{ .Summary }} {{ if .Truncated }}...{{ end }}
                </p>
                {{ end -}}
              </article>
            {{ end }}
            {{ range where .Pages ".Params.hidden" "!=" true }}
              <article>
                <h4><a href="{{ .Permalink }}">{{ if .LinkTitle }}{{ .LinkTitle }}{{ else }}{{ .Title }}{{ end }}</a></h4>
                {{ if $showsummaries -}}
                <p>
                {{ .Summary }} {{ if .Truncated }}...{{ end }}
                </p>
                {{ end -}}
              </article>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
</article>
{{ end }}
