{{ define "main" }}
<article id="main">
  <section class="wrapper style1 container special">
    <div class="row">
      {{ range where .Data.Pages "Type" "highlight" }}
        <div class="4u 12u(narrower)">
          <section>
            <span class="icon featured fa-{{ .Params.icon }}"></span>
            <header>
              <h3>{{ .Title }}</h3>
            </header>
            <div class="content justify">
            {{ .Content }}
            </div>
          </section>
        </div>
      {{ end }}
    </div>
  </section>
</article>
{{ end }}
